#increment {
  background-color: transparent;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
  outline: none;
}

#decrement {
  background-color: transparent;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
  outline: none;
}

#breakBtnsDiv {
  text-align: center;
}

#lengthBtnsDiv {
  text-align: center;
}

#span1 {
  padding: 15px;
}

#span2 {
  padding: 15px;
}

#clockBtns {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  font-weight: bold;
}

#startBtn {
  font-size: 20px;
}

#resetBtn {
  font-size: 20px;
}

#startBrkBtn {
  font-size: 20px;
  border: 0;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 15px;
  font-family: "Chilanka", "Arial Narrow", monospace, sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px $cool-blue;
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0 5px 10px #6b6b6b;
}
