body {
    background-color: #D74444;
    font-family: 'Chilanka', 'Arial Narrow', monospace, sans-serif;
}

#lengthDiv {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;
}

